body{
    background: #262627;
}

.modal{
    padding: 50px;
    background: #252525;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .holder{
    background-color:#262626;
    width: 50vw;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

  #ButtonId, .center{
    background-color: #1d1d1d;
    font-size: 6vw;
    color: rgb(255, 0, 157);
    height: 20vw;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.question{
    color: aqua;
    margin-left: 7vw;
    margin-bottom: 0vw;
}

select{
    color: aqua;
    background-color: #262626;
    border-radius: 1vw;
    border-width: 1vw;
    border-style:double;
    border-color: rgb(81, 165, 42);
    margin-left: 1vw;
}