html,
body,
form,
h3 {
    margin: 0;
}

.holder{
    background-color:#262626;
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, #ButtonId, .center{
    background-color: #1d1d1d;
    color: chartreuse;
    height: 100px;
    width: 300px;
    display: flex;
}

h3{
    color: #fff;
    font-size: 3em;
    margin: auto;
}